<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CRAFT Demo</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='startbootstrap-bare-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='mystyle/style.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
</head>

<body>
  <!-- credit to https://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link for solution -->
  <script type="text/javascript">
    jQuery(document).ready(function($) {
	$(".clickable-row").click(function() {
	    window.location = $(this).data("href");
	});
    });
  </script>

  <div style="width:100%">
    <div class="row" style="background-color:#a8050e;">
      <div class="container">
	<a class="navbar-brand" style="color:white" href="/">
	  Home
	</a>
	<span class="navbar-brand" style="float:right">
	  Page Loaded: {{ format_time(now) }}
	</span>		
      </div>
      
    </div>
    <div class="row justify-content-center" style="background-color:#fc471e">
      <h2 class="display-4">CRAFT on <a class="text-dark" href="http://reddit.com/r/changemyview" target="_blank">reddit.com/r/changemyview</a></h2>
    </div>
  </div>


  
  <!-- Page Content -->
  {% block content %}{% endblock %}

  <script src="{{ url_for('static',filename='startbootstrap-bare-gh-pages/vendor/jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static',filename='startbootstrap-bare-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
