{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top:10px; width:100%">
  <h3>Post Title: "{{post_name}}"</h3>
  <h4>By: {{post_author}}</h4>
  {% if score_pos == 1 %}
  
  {% include 'convo_table1.html' %}
  
  {% elif score_pos == 2 %}
  
  {% include 'convo_table2.html' %}
  
  {% else %}
  
  {% include 'convo_table0.html' %}
  
  {% endif %}

  {% if endings | length > 0 %}
  This conversation ends in {{ endings | length }} ways:
  <ul>
    {% for ending in endings %}
    <li><a href="{{ url_for('routes.convo', id=ending) }}" style="stretched-link">{{ ending }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>  

{% endblock %}

