<table class="table table-striped table-hover">
  <tr>
    <th scope="col">Time</th>
    <th scope="col" style="width:10%">Author</th>
    <th scope="col">Craft Score</th>
    <th scope="col">Removed ?</th>

    <th scope="col">Reddit Link</th>
    <th scope="col" style="width:40%">Text</th>
    <!-- <th scope="col">Alternate Endings</th> -->
  </tr>
  {% for comment in convo %}
  <tr>
    <td>{{ format_time(comment['timestamp']) }}</td>
    <th>{{ comment['author']  }}</th>
    <td> </td>
    <td
      {% if comment['removed'] > 0 %}
      style="background: red">
      {{ format_time(comment['removed']) }}
      
      {% elif comment['text'] == ["[removed]"] %}
      style="background: red">
      Yes

      {% else %}
      > No
      {% endif %}
    </td>
    <td><a href="http://reddit.com{{comment['permalink']}}" target="_blank">{{comment['id']}}</a></td>
    <td>
      {% for p in comment['text'] %}
      <p style="word-break:break-word;">{{ p }} </p>
      {% endfor %}
    </td>
    <!-- <td><ul> -->
    <!-- 	{% for ending in comment['endings'] %} -->
    <!-- 	{% if ending['id'] != id %} -->
    <!-- 	<li><a href="{{ url_for('routes.convo', id=ending['id']) }}" style="stretched-link">{{ ending['convo_name'] }}</a></li> -->
    <!-- 	{% endif %} -->
    <!-- 	{% endfor %} -->
    <!-- </ul></td> -->
  </tr>
  <tr>
    <td colspan="2"></td>
    <td
      {% if comment['score'] > craft_thresh %}
      style="background: red"
      {% endif %} >
      
      {{ comment['score'] | round(3) }}
    </td>
    <td colspan="4" </td>
  </tr>
  {% endfor %}
</table>
