<table class="table table-striped table-hover">
  <h3>Top {{ k }} most likely to derail conversations:</h3>
  {% if this_time != -1 %}
  <tr>
    <th colspan="5" scope="col">At {{ format_time(this_time) }}</th>
    <th colspan="3" scope="col">Since {{ format_time(this_time) }}</th>
  </tr>
  {% endif %}
  <tr>
    <th scope="col">Rank</th>
    <th scope="col">CRAFT Score</th>
    <th scope="col">Score Change</th>
    <th scope="col">Number of Comments</th>
    <th scope="col">Conversation Name</th>
    {% if this_time != -1 %}
    <th scope="col">Number of New Comments</th>
    <th scope="col">Has the conversation derailed?</th>
    <th scope="col">Still Active?</th>
    {% endif %}
  </tr>
  {% for rank in ranks %}
  <tr class="clickable-row" data-href="{{ url_for('routes.convo', id=rank['id']) }}" style="cursor: pointer">
    <th scope="row">{{ loop.index  }}</th>
    <td
      {% if rank['score'] > craft_thresh %}
      style="background: red"
      {% endif %} >
      
      {{ rank['score'] | round(3) }}
    </td>
    <td>
      {% if rank['delta'] > arrow_thresh %}
      <span style="color:red; font-size:200%">&#10138;</span>
      {% elif rank['delta'] > 0 %}
      <span style="color:red">&#10138;</span>
      {% elif rank['delta'] == 0 %}
      <span style="color:yellow">&#10137;</span>
      {% elif rank['delta'] > - arrow_thresh %}
      <span style="color:green">&#10136;</span>
      {% else %}
      <span style="color:green; font-size:200%">&#10136;</span>
      {% endif %}
    </td>
    <td>{{ rank['n_comments'] }}</td>
    <td>{{ rank['convo_name'] }}</td>
    {% if this_time != -1 %}
    <td>{{ rank['n_new_comments'] }}</td>
    <td
      {% if rank['has_derailed'] %}
      style="background: red"
      > Yes
      {% else %}
      > No
      {% endif %}
    </td>
    <td
      {% if rank['still_active'] %}
      style="background: #4deb2a"
      > Yes
      {% else %}
      > No
      {% endif %}
    </td>

    {% endif %}
  </tr>
  {% endfor %}
</table>
